.goldberg {
    position: relative;
    flex-direction: column;

    min-width: 90vw;
    min-height: 90vh;

    border: 3px groove gray;
}

    .goldberg .initial-input {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        margin-top: 1em;
        min-width: 30%;
        min-height: 10%;
    }

    .goldberg .result-input {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 1em;
        margin-bottom: 1em;
        min-width: 30%;
        min-height: 10%;
    }

    .goldberg .train-area {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: end;

        min-width: 100%;
        height: 4em;
        bottom: 0;
        margin-bottom: 1em;
        border: 2px solid green;
        gap: 0.5em;
    }

        .train-area .wagon {
            position: relative;;
            min-width: 2em;
            height: 2em;
            border: 2px groove black;
            border-top: none;
            margin-bottom: 0.5em;
        }


        .wagon.one {
            min-width: 4em;
            border-top: 2px groove black;
        }
    
    .goldberg .letter-container {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 6em;
    }

    .letter-container.on-board {
        position: absolute;
        top: initial;
        left: initial;
        margin-left: initial;
    }